<section class="login-block">
	<div class="overlay">
	</div>
	<!-- Container-fluid starts -->
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<!-- Authentication card start -->
				<form class="md-float-material form-material" name="myForm" #myForm="ngForm" (ngSubmit)="changeForgotPassword() && myForm.myForm.valid" novalidate>
					<div class="text-center">
						
					</div>
					<div class="auth-box card">
						<div class="card-block">
								<img src="assets/images/logo.png" class="logo" alt="logo.png">
							<div class="row m-b-20">
								<div class="col-md-12">
									<h3 class="text-left">Change your password</h3>
								</div>
							</div>

							<div class="form-group form-primary">
								<input type="password" name="newPassword" class="form-control" [(ngModel)]="changeForgotPassData.newPassword" #newPassword="ngModel" required autofocus>
								<span class="form-bar"></span>
								<label class="float-label">Your Password</label>
								<div class="form-control-feedback" *ngIf="(newPassword.dirty || myForm.submitted) && (newPassword.invalid || myForm.submitted)">
									<div style="color:red" *ngIf="newPassword.errors?.required">Password is required.</div>
								</div>
							</div>

							<div class="form-group form-primary">
								<input type="password" class="form-control" name="confirm" name="confirm" [(ngModel)]="changeForgotPassData.confirm" #confirm="ngModel" required autofocus>
								<span class="form-bar"></span>
								<label class="float-label">Confirm Password</label>
								<div class="form-control-feedback" *ngIf="confirm.dirty || myForm.submitted">
									<div style="color:red" *ngIf="confirm.errors?.required">Confirm Password is required.</div>
									<div style="color:red" *ngIf="changeForgotPassData.confirm && changeForgotPassData.newPassword != changeForgotPassData.confirm">Password did not match.</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<button type="submit" class="btn btn-primary btn-md btn-block text-center m-b-20 ripple light">Reset Password</button>
								</div>
							</div>
							<p class="f-w-600 text-right">Back to <a [routerLink]="['/login']">Login.</a></p>
						</div>
					</div>
				</form>
			</div>
			<!-- end of col-sm-12 -->
		</div>
		<!-- end of row -->
	</div>
	<!-- end of container-fluid -->
</section>